:root {
  --pc-width-size: 480px;
  --min-width-size: 350px;
}

@media (min-width: 480px) {
  body {
    max-width: var(--pc-width-size);
    height: 100vh;
    margin: 0 auto;
  }
} 
@media (max-width: 350px) {
  body {
    min-width: var(--min-width-size);
    height: 100vh;
    margin: 0 auto;
  }
}
