:root {
  --pc-width-size: 480px;
  --min-width-size: 340px;
  --primary: #4B82C1;
  --main-text: #4278B7;
}

@media (min-width: 480px) {
  html {
    background-color: #F9F9F9;
  }
  body {
    max-width: var(--pc-width-size);
    height: 100%;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #ffffff;
  }
} 
@media (max-width: 340px) {
  body {
    min-width: var(--min-width-size);
    height: 100vh;
    margin: 0 auto;
    background-color: #ffffff;
  }
}